div{font-family: Roboto, sans-serif; font-size: 16px;   line-height: 26px;  font-weight: 300;}
h1 {color:white;background-color: #446a7f;padding:5px;width:100%;height:50px;font-family: Roboto, sans-serif;  font-weight: normal;  width: 100%;  text-align: center;}
h2{color:black; background-color:#b3b6a0; padding:10px}
h3{color:#78BE21; background-color:#446a7f; padding:10px}
h4{color:white; background-color:#78BE21;padding:5px}
.info{background-color:}
img {border: 3px solid #446a7f;}
pre {
    background-color:#446a7f;
    color:bisque;
}